:root {
    --accent-color-darkmode: #239cff;
    --accent-color-lightmode: #0070cc;
    --text-color-darkmode: #cccccc;
    --text-color-darkmode-secondary: #949494;
    --text-color-lightmode: #333333;
    --text-color-lightmode-secondary: #666666;
    --background-color-dark: #222222;
    --background-color-light:#e5e5e5;
}

html {font-size:16px}

body { font-family: Inter, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem; font-weight: 400;
    color: var(--text-color-darkmode);
    background: var(--background-color-dark);
    padding-top:1rem;
}
@media screen and (prefers-color-scheme: light) {
    body {
        background-color: var(--background-color-light);
        color: var(--text-color-lightmode);
    }   
}

.container {max-width: 40rem; margin:auto auto; padding:0 1rem;}

p, ul, ol, h1, h2, h3, h4, h5, h6 {padding:0; margin:2rem 0;}

a {color: var(--text-color-darkmode-secondary); text-decoration: underline; }
@media screen and (prefers-color-scheme: light) {
    a {color: var(--text-color-lightmode-secondary);}    
}
a:hover {color: var(--accent-color-darkmode); -webkit-text-fill-color: initial;}
@media screen and (prefers-color-scheme: light) {
    a:hover {color: var(--accent-color-lightmode) }
}
a,a:hover {transition: all linear 0.2s;}
p a { text-decoration: underline;}

h1, h2, h3, h4, h5 {padding: 0; margin:4rem 0 1rem; text-decoration: none;}
h1 { color: var(--main-accent-color);}
h2 {font-weight: 500;}

li {padding:0.5rem 0;}

footer {
    margin-top: 10vw;
}

.no-list {
    list-style-type: none;
    padding: 0;
}
.hlist {
    margin: 1rem 0; padding:0;
    list-style-type: none;
    /* padding: 0; */
}
.hlist li {
    display: inline-block;
    margin-right:1rem; padding: 0; 
}

.bg-gradient {
    color:#fff;
    min-height: 1vw; width:100%;
    position: relative; z-index: 2;
    background-color: green ;
    background: linear-gradient(45deg, rgb(1rgb(21, 116, 233)3rgb(9, 184, 96)21),#16c,#084);
    /* transform: skewY(-5deg); transform-origin: 0; */
}
.squint {
    min-height:10vw;
    transform: skewY(-2.5deg); transform-origin: 0;
}

.text-centered {text-align: center;}
.text-xs {font-size:0.5rem;}
.text-sm {font-size:0.8rem;}
.text-lg {font-size:1.5rem; font-weight:400; }
.text-xl {font-size:7rem; font-weight:700;}
.text-gradient {
    background: linear-gradient(45deg, #926,#16c,#084);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.text-dimmed {
    opacity:0.5;
}


.button {
    display: inline-block;
    border-radius: 0.5rem;
    border:2px solid #fff;
    padding:0.5rem 1rem;
    /* background: #16c;  */
    color:#fff;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.button:hover {
    background: #fff; 
    color:#000;
    mix-blend-mode: screen;
}

.icon-button {font-size:150%; transition: all linear 0.2s;}
.icon-button:hover {text-shadow:rgba(255,255,255,0.7) 0 0 2px} 

span.redacted {
    color:#000; background:#000;
    border: 1px solid #333; border-radius: 2px;
}
span.redacted:hover {
    color: inherit; background: none;
}

.badge { 
    display: inline-block; 
    padding:0.25rem 0.5rem; 
    border: 2px solid var(--text-color-darkmode-secondary); 
    border-radius: 1rem; 
    color: var(--text-color-darkmode-secondary); 
    font-size: 0.8rem;
    font-weight: 700;}